# Pycache directories
__pycache__/

# IDE-related
.idea/

# Virtual environment directory
venv/

# Django local settings
schema_api/local_settings.py

# Environment variables file
schema-api/.env

# Managers configuration file
schema-api/managers.yml