# Pycache directories
__pycache__/

# IDE-related
.idea/

# Virtual environment directory
venv/

# Django application migration files
schema-api/migrations/*/*
!schema-api/migrations/*/__init__.py

# Django local settings
schema_api/local_settings.py

# Environment variables file
.env
