#Register here your scheduling manager classes
#
#Example:
#
#managers:
#  - name: manager
#    class_path: 'SynchronousTesWorkflowManager'
#    enabled: yes
#    configuration:
#      tasks: yes
#      workflows:
#        languages:
#          - language: SNWL
#            versions: '*'
#            use-definition: yes